Flask
openpyxl
fpdf2
google-genai
groq
python-dotenv
pymysql
cryptography
requests
pysnmp
pywebpush
firebase-admin
waitress
gunicorn
ldap3
pypdf
pytesseract
pdf2image
Pillow
qrcode
DBUtils
pytest
pytest-flask
Flask-Limiter
pytest==8.0.0
pytest-flask==1.3.0
