Flask
openpyxl
fpdf2
google-genai
groq
python-dotenv
pymysql
cryptography
requests
pysnmp
pywebpush
firebase-admin
waitress
gunicorn
ldap3
pypdf
pytesseract
pdf2image
Pillow
DBUtils
pytest
pytest-flask
pytest
pytest-flask
