[Unit]
Description=Servidor Inventario GOLD (Gunicorn)
After=network.target

[Service]
User=administrador
Group=www-data
WorkingDirectory=/opt/inventario
# Ejecutar Gunicorn en puerto interno 5001 con 3 trabajadores
ExecStart=/usr/bin/gunicorn --workers 3 --bind 127.0.0.1:5001 servidor:app
Restart=always

[Install]
WantedBy=multi-user.target
